@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'sans-serif'; /* Apply font directly */
    }
    li {
        /* Apply Tailwind classes directly */
        padding-left: 1rem;
        padding-right: 1rem;
        cursor: pointer;
    }
}

.content-dev {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-dev:hover {
    background-image: linear-gradient(
        to right,
        #09203F ,
        #537895
    )!important;
}